<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full py-2 ">
      <div class="overflow-hidden">
        <% if session[:products].present? %>
          <table class="min-w-full mx-4 text-sm font-light text-left ">
            <thead class="font-medium border-b dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Name</th>
                <th scope="col" class="px-6 py-4">Price</th>
                <th scope="col" class="px-6 py-4">Amount</th>
                <th scope="col" class="px-6 py-4">Sum</th>
                <th scope="col" class="px-6 py-4">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @cart.items.each do |product| %>
                <tr class="border-b hover:bg-neutral-100 dark:border-neutral-300">
                  <td class="px-6 py-4 whitespace-nowrap"><%= product.title %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= number_to_currency(product.price, :unit => "₴") %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= render "cart/change_amount_form", product: product %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= number_to_currency(@cart.product_sum(product), unit: "₴") %></td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <%= button_to remove_product_in_cart_path(product), method: :patch do %>
                        <i class="fa fa-regular fa-trash fa-2x"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr class="border-b dark:border-neutral-300">
                <td colspan="3" class="px-6 py-2 font-bold whitespace-nowrap">
                  Total sum
                </td>
                <td class="px-6 py-2 font-bold whitespace-nowrap"><%= number_to_currency(@cart.sum, :unit => "₴") %></td>
              </tr>
            </tbody>
          </table>

          <div class="flex items-center justify-between">
            <div class="inline-block m-5">
                <%= link_to 'Pay this order', new_order_path, class: "btn-pay" %>
            </div>
            
            <div class="inline-block m-5">
              <%= button_to 'Delete all products', cart_path(@cart), method: :delete, class: "text-white bg-gray-500 font-medium rounded-lg px-5 py-2.5 text-sm" %>
            </div>
          </div>
        <% else %>
            <div class="grid h-screen text-3xl place-items-center">Your cart is empty</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
