<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice">
      <%= notice %>
    </p>  
  <% end %>
  <div class="flex items-center justify-between pb-8">
    <h1 class="mx-auto text-lg text-4xl font-bold">Orders</h1>
  </div>
  <table id="orders" class="mx-auto">
    <tfoot>
      <tr>
        <td colspan="3">
          <div class="mt-8">
            <%= link_to 'New order',
              new_order_path,
              class: "inline rounded-lg py-3 px-5 bg-green-600
              text-white block font-medium" %>
          </div>
        </td>
      </tr>
  </tfoot>
  <tbody> 
    <% @orders.each do |order| %>
      <tr class="<%= cycle('bg-green-50', 'bg-white') %>">
        <td>
          <h1 class="mb-3 text-xl font-bold"><%= order.first_name %></h1>
          <h1 class="mb-3 text-xl font-bold"><%= order.last_name %></h1>
          <h1 class="mb-3 text-xl font-bold"><%= order.address %></h1>
          <h1 class="mb-3 text-xl font-bold"><%= order.phone %></h1>
        </td>
        <td class="px-3"></td>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>