<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Title:</strong>
    <%= product.title %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Balance:</strong>
    <%= product.balance %>
  </p>

  <%= link_to "Show this product", product, class: "btn-grey" %>
  <%= link_to 'Edit this product', edit_product_path(product), class: "btn-grey" %>
  <div class="my-5">
    <%= render "carts/buy_form", product: product %>
  </div>
  <hr class="mt-6">
</div>
